node_modules
dist
.tmp
.sass-cache
src/bower_components
doc/*.ai
src_old
.DS_Store
draft
build
/resources/public/js/compiled/**
/resources/public/css/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
