---
section: about
---
<div class="abs-center about">Hi, my name is Liquid. I am a nearly full-stack software developer in Shanghai. I code Erlang most of the time and have fun in Javascript when I get a chance. I love the beauty of realtime apps as well as their infrastructures. Finding or building a perfect toolchain for automation, visualization and communication is always my biggest passion. I believe that it is right tools that scale everything.</div>
