.c-next {
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
}

.c-next__link {
    display: block;
    width: 10px;
    height: 10px;
    background-color: hsl(0, 0, 10);
}

.c-article {
    ul, ol {
        margin-top: 1.8rem;
        margin-bottom: 1.8rem;
        
        ul, ol {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    ul {
        margin-left: 1.3rem;

        > li {
            &:before {
                content: "•";
                margin-left: -1.3rem;
                margin-right: 0.6rem;
            }
        }
    }

    ol {

        ol {
            margin-left: 1.3rem;
        }

        ul {
            margin-left: 2.5rem;
        }
    }

}
