.c-next {
    text-indent: 1em;
}

.c-next__link {
    &:hover {
        background-color: hsl(0, 0, 10);
        color: hsl(0, 0, 100);
    }
}

.c-pointer {
    cursor: pointer;
}

#pd {
    position: relative;
}

.p-pd__treemap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.p-pd__info {
    position: absolute;
    left: 0;
    right: 0;
    padding: 5rem;
}

.p-info {
    // color: hsl(0, 0, 100);
    // background-color: hsl(0, 0, 25);
}

.c-line {
    color: hsl(0, 0, 100);
    background-color: hsl(0, 0, 25);
    display: inline-block;

    &:before, &:after {
        letter-spacing: -0.3rem;
        content: '\00a0';
    }
}
