.c-next {
    text-indent: 1em;
}

.c-next__link {
    &:hover {
        background-color: hsl(0, 0, 10);
        color: hsl(0, 0, 100);
    }
}

.c-mojibake {
    position: fixed;
    height: 100%;
    width: 100%;
    font-family: "PT Mono", "Menlo", monospace;
    font-size: 1rem;
    word-break: break-all;
    z-index: -100;
    color: hsl(0, 0, 50);
}
