html {
    font-size: 62.5%; 
}

body {
    font-size: 1.2em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6rem;
    font-family: monospace, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f7f7f7;
    color: #191919;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.background {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -9999;
}

.p-home {
    padding-top: 50px;
    padding-left: 50px;
    color: #e5e5e5;
}

.c-section {
    margin-bottom: 1.6rem;
}

.c-title {
    background-color: #f2f2f2;
    display: inline-block;
    color: #191919;
}

.c-title:before, .c-title:after {
    letter-spacing: -0.5rem;
    content: '\00a0';
}
