body {
    background: @bgcolor;
    font-family: @font-text;
    color: @text-color;
    padding: 40px;
    font-size: 14px;
}

ul, ol {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    color: @linkcolor;
    text-decoration: none;
}

.grid-row {
    height: 80px;
    padding: 10px;
}

.nav {
    position: fixed;

    .logo {
        a {
            padding: 0 4px;
            font-size: 18px;
            font-family: @font-mono;
            background: #ffffff;
        }
    }

    .menu {
        li {
            margin-bottom: 2px;
        }


        a {
            font-family: @font-mono;
            padding: 0 4px;
            background: #ffffff;
            width: 52px;
            display: block;

            &.active {
                background: #333333;
                color: #ffffff;
            }
        }
    }
}

@-webkit-keyframes 'blink2' {
    0% { opacity: 0 }
    19% { opacity: 0 }
    20% { opacity: 1 }
    60% { opacity: 1 }
    79% { opacity: 1 }
    80% { opacity: 0 }
    100% { opacity: 0 }
}

@-webkit-keyframes 'blink3' {
    0% { opacity: 0 }
    20% { opacity: 0 }
    39% { opacity: 0 }
    40% { opacity: 1 }
    59% { opacity: 1 }
    60% { opacity: 0 }
    100% { opacity: 0 }
}

.ani-blink (@blink) {
    -webkit-animation-direction: alternate;
    -webkit-animation-duration: 400ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: @blink;
}

.loading {
    height: 100px;
    width: 100px;


    .block {
        background: @text-color;
        height: 8px;
        width: 8px;
        float: left;
        margin-left: 3px;
    }

    .block-2 {
        opacity: 0;
        .ani-blink(blink2);
    }

    .block-3 {
        opacity: 0;
        .ani-blink(blink3);
    }
}

/*http://coding.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/*/
.abs-center-container {
    position: relative;
}

.abs-center {
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    position: absolute;

    &.fixed {
        position: fixed;
        z-index: 999;
    }
}

.fly {
    height: 100px;
    width: 150px;
    font-weight: bold;
    text-align: center;
}

.about {
    top: -25%;
    display: table;
    font-size: 12px;
    text-align: justify;
    width: 25%;
    background: #ffffff;
    padding: 4px 8px;
}

.post {
    font-size: 12px;
    margin-bottom: 4em;

    .post-title {
        height: 60px;
        padding: 10px;
        box-sizing: border-box;

        a {
            border-bottom: 0;
        }

    }

    .pubdate {
        color: #b5b5b5;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: @font-header;
    }

    h1 {
        margin: -0.3em 0 0;
    }

    a {
        border-bottom: 1px solid #424242;
    }

    .post-body {
        padding: 10px;
        box-sizing: border-box;

        p:first-child {
            margin-top: 0;
        }
    }

    .post-continue {
        border-bottom: 0;
    }

    pre {
        padding: 6px 10px;
    }

    pre, code {
        font-family: @font-mono;
        background: #ffffff;
    }

    p code, table code {
        padding: 1px 3px;
    }

    ol, ul {
        padding-left: 1.5em;
    }
    
    ul {
        list-style: disc;
    }

    table {
        width: 100%;
        overflow: auto;
        display: block;

        tr {
            border-top: 1px solid #ccc;
            background: #ffffff;
        }
        
        th, td {
            border: 1px solid #ccc;
            padding: 3px 6px;
        }
    }

    blockquote {
        border-left: 4px solid #ccc;
        padding: 0 15px;
        margin: 0;
        color: #666666;
    }

    dl { 
        dt {
            font-weight: bold;
            font-style: italic;
            padding: 0;
        }

        dd {
            margin: 0;
            padding: 0 15px;
        }
    }
}
