body {
    background: @bgcolor;
    font-family: "Andale Mono", AndaleMono, "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-family: "Andale Mono", AndaleMono, monospace;*/
    color: #333;
    padding: 40px;
    font-size: 14px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: @linkcolor;
    text-decoration: none;
}

.grid-line {
    padding: 10px;
}

.logo {
    height: 60px;

    a {
        padding: 0 4px;
        font-size: 18px;
        background: #ffffff;
    }
}

.menu {
    li {
        margin-bottom: 2px;
    }

    a {
        padding: 0 4px;
        background: #ffffff;
        width: 60px;
        display: block;
    }
}
