body {
    background: @bgcolor;
    font-family: @font-text;
    color: @text-color;
    padding: 40px;
    font-size: 14px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: @linkcolor;
    text-decoration: none;
}

.grid-row {
    height: 80px;
    padding: 10px;
}

.nav {
    position: fixed;

    .logo {
        a {
            padding: 0 4px;
            font-size: 18px;
            font-family: @font-mono;
            background: #ffffff;
        }
    }

    .menu {
        li {
            margin-bottom: 2px;
        }


        a {
            font-family: @font-mono;
            padding: 0 4px;
            background: #ffffff;
            width: 60px;
            display: block;

            &.active {
                background: #333333;
                color: #ffffff;
            }
        }
    }
}

@-webkit-keyframes 'blink2' {
    0% { opacity: 0 }
    19% { opacity: 0 }
    20% { opacity: 1 }
    60% { opacity: 1 }
    79% { opacity: 1 }
    80% { opacity: 0 }
    100% { opacity: 0 }
}

@-webkit-keyframes 'blink3' {
    0% { opacity: 0 }
    20% { opacity: 0 }
    39% { opacity: 0 }
    40% { opacity: 1 }
    59% { opacity: 1 }
    60% { opacity: 0 }
    100% { opacity: 0 }
}

.ani-blink (@blink) {
    -webkit-animation-direction: alternate;
    -webkit-animation-duration: 400ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: @blink;
}

.loading {
    position: fixed;
    top: 41%;
    left: 45%;

    .block {
        background: @text-color;
        height: 8px;
        width: 8px;
        float: left;
        margin-left: 3px;
    }

    .block-2 {
        opacity: 0;
        .ani-blink(blink2);
    }

    .block-3 {
        opacity: 0;
        .ani-blink(blink3);
    }
}

/*http://coding.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/*/
.abs-center-container {
    position: relative;
}

.abs-center {
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    position: absolute;

    &.fixed {
        position: fixed;
        z-index: 999;
    }
}

.fly {
    height: 100px;
    width: 150px;
    font-weight: bold;
}
