@bgcolor: #F4F4F4;
@linkcolor: #000000;
@font-color: #424242;
@font-mono: "Andale Mono", AndaleMono, monospace;
/*@font-text: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
@font-text: myriad-pro-n4, myriad-pro, sans-serif;
