@bgcolor: #F4F4F4;
@linkcolor: #000000;
@text-color: #424242;
@font-mono: "Andale Mono", AndaleMono, monospace;
@font-text: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
/*@font-text: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;*/
