<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <base href="/">
        <title>Antagonista</title>
        <meta name="description" content="Antagonista">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css({src,.tmp}) /styles/main.css -->
        <link rel="stylesheet" href="/bower_components/normalize-css/normalize.css">
        <!--<link rel="stylesheet" href="/styles/main.css">-->
        <link rel="stylesheet" href="/styles/github.css">
        <!-- endbuild -->
    </head>
    <body ng-app="antagonista">
        <div id="main" ng-view="">{{> body}}</div>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/loglevel/dist/loglevel.min.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <!-- endbuild -->
    </body>
</html>
