---
layout: text.hbs
---
<article class="post">
    <header class="grid-row">
        <h1><a class="post-title" data-name="{{name}}" href="/blog/{{name}}">{{title}}</a></h1>
        <div class="pubdate">{{formatDate time "%d %b %Y"}}</div>
    </header>
    <div class="post-body">
        {{#markdown}}
        {{> body}}
        {{/markdown}}
    </div>
</article>
