@tailwind base;
@tailwind utilities;

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(''),
       url('/assets/fonts/inconsolata-v21-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/inconsolata-v21-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --gray-96: hsl(0, 0%, 96%);
  --red: rgba(202, 38, 38);
  --green: rgb(36, 94, 7);
}

body {
  background-color: var(--gray-96);
}

.text-block {
  @apply inline-block px-1 align-top leading-tight;
}

.-z-1 {
  z-index: -1;
}

.svg-icon {
  fill: hsl(0, 0, 80%);
  stroke: none;
  fill-opacity: 0.5;
}

.debug-grid {
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAFElEQVR4AWPAC97/9x0eCsAEPgwAVLshdpENIxcAAAAASUVORK5CYII=) repeat top left;
}

.item-full p {
  @apply mb-4;
}

.item-full p:last-child {
  @apply mb-0;
}

.bg-gray-98 {
  background-color: var(--gray-96);
}

.tag {
  @apply text-block fs--1 mr-1;
}

.item-grid {
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}